<?xml version="1.0" encoding="UTF-8"?>
<bean:beans xmlns:bean="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/security"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-3.1.xsd">
 
 <http auto-config="true">
 <intercept-url pattern="/aplicacion/**" access="ROLE_Usuario" />
 <form-login login-page="/formularioLogin.jsp"
 username-parameter="usuario"
 login-processing-url="/login"
 password-parameter="clave"
 authentication-failure-url="/error.jsp"/>
 </http>
 <authentication-manager>
 <authentication-provider>
 <user-service>
 <user name="manuel" password="1234" authorities="ROLE_Usuario" />
 </user-service>
 </authentication-provider>
 </authentication-manager>
</bean:beans>